@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

footer{
    padding: 20px 0;
    border-top: 1px solid #555;
}

.links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
}

.links .link-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
}

.link-title{
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 20px;
    padding-top: 10px;
    color: crimson;
}

.link-items a {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-size: 0.9rem;
    color: #333;
    padding: 3px 0;
}

.copy-right p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: "Poppins", sans-serif !important;
}